<%- include('../partials/header') %>

<div class="container my-4">
    <h2 class="mb-4">User Directory</h2>

     <p><strong> Information provide by Gemini. <i>"I built a functional data-handling prototype to master the lifecycle of user input, from capturing form data via a client-side interface
     routing and processing that information through a custom Node.js server."</i></strong></p>
        
      <p>My name is<h3> Danilo Araujo </h3> this site was built using Node.js and EJS templates. Thank you <strong> professor Newman</strong> for been patient!</p>

    <table class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(function(user){ %>
                <tr>
                     <td><a href="/users/view/<%= user.id %>"><%= user.first_name %></a></td>
                     <td><%= user.last_name %></td>
                     <td><%= user.email %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<%- include('../partials/footer') %>
